DETAIL NL

<form *ngIf="detailForm"
      [formGroup]="detailForm"
      class="form-horizontal"
      [ngClass]="{
        exists:detailExists,
        add:!detailExists,
        update: detailExists && detailForm?.dirty
      }">

<!-- NEW DETAIL ONLY -->

  <div class="form-group">
    <label 
      for="lan" 
      class="control-label col-xs-2">
      Language:
    </label>
    <div class="col-xs-10">
      {{detailForm?.value['lan']}}
    </div>
  </div>

  <div class="form-group">
    <label 
      for="tpe" 
      class="control-label col-xs-2">
      Word Type:
    </label>
    <div class="col-xs-10" *ngIf="detailOnly && !detailExists">
      <select 
        class="form-control" 
        id="tpe"
        formControlName="wordTpe">
        <option *ngFor="let t of wordTpes" [value]="t.val">
          {{t.label}}
        </option>
      </select>
    </div>
    <div class="col-xs-10" *ngIf="!detailOnly || detailExists">
      {{detailForm?.value['wordTpe']}}
    </div>
  </div>

  <div class="form-group">
    <label 
      for="word" 
      class="control-label col-xs-2">
      Word:
    </label>
    <div class="col-xs-10" *ngIf="detailOnly && !detailExists">
      <input 
        class="form-control" 
        id="word"
        formControlName="word">
    </div>
    <div class="col-xs-10" *ngIf="!detailOnly || detailExists">
      {{detailForm?.value['word']}}
    </div>
  </div>

<!-- UPDATE FIELDS -->

  <div class="form-group" *ngIf="isNoun()">
    <label 
      for="article" 
      class="control-label col-xs-2">
      Article: 
    </label>
    <div class="col-xs-10">
      <div *ngFor="let control of detailForm.value['article'].controls; let i=index">
        <input 
          type="checkbox" 
          id="checkbox-1" 
          value="value-1" 
          (ngModelChange)="setDirty()"
          [formControl]="control" />     
        {{articles[i]}}
      </div>
    </div>
  </div>

  <div 
    class="btn btn-success" 
    *ngIf="detailOnly && detailExists && detailForm?.dirty" 
    (click)="updateDetail(detailForm.value)">
    Update
  </div>

  <div 
    class="btn btn-success" 
    *ngIf="detailOnly && !detailExists" 
    (click)="addDetail(detailForm.value)">
    Add
  </div>

  <div 
    class="btn btn-warning" 
    *ngIf="detailOnly" 
    (click)="newDetail()">
    New Detail
  </div>

  <div>
    Detail Only: {{detailOnly}}<br>
    Detail exists: {{detailExists}}<br>
    Form status: {{ detailForm.status | json }}<br>
    Form dirty: {{ detailForm.dirty |json }}
  </div>

</form>
