DETAIL FR

<form *ngIf="wordTpe && detailForm"
      [formGroup]="detailForm"
      class="form-horizontal"
      [ngClass]="{
        exists:detailExists,
        add:!detailExists,
        update: detailExists && detailForm?.dirty
      }">

  <div class="form-group">
    <label 
      class="control-label col-xs-2">
      Word:
    </label>
    <div class="col-xs-10">
      {{word}}
    </div>
  </div>
  <div class="form-group" *ngIf="wordTpe==='noun'">
    <label 
      for="genus" 
      class="control-label col-xs-2">
      Genus:
    </label>
    <div class="col-xs-10">
      <div *ngFor="let genus of genera">
        <input type="radio" 
          formControlName="genus" 
          name="genus" 
          [value]="genus">{{genus}}
      </div>
    </div>
  </div>

  <div 
    class="btn btn-success" 
    *ngIf="detailOnly && detailExists && detailForm?.dirty" 
    (click)="updateDetail(detailForm.value)">
    Update
  </div>

  <div 
    class="btn btn-success" 
    *ngIf="detailOnly && !detailExists && detailForm?.dirty" 
    (click)="addDetail(detailForm.value)">
    Add
  </div>
  
Detail exists: {{detailExists}}<br>
    <pre>Form value: {{ detailForm.value | json }}</pre>
    <p>Form status: {{ detailForm.status | json }}</p>
    <p>Form dirty: {{ detailForm.dirty |json }}</p>

</form>

<pre>{{detail|json}}</pre>
wordtpe: {{wordTpe}}
