DETAIL NL

<form *ngIf="wordTpe && detailForm"
      [formGroup]="detailForm"
      class="form-horizontal"
      [ngClass]="{
        exists:detailExists,
        add:!detailExists,
        update: detailExists && detailForm?.dirty
      }">
  <div class="form-group">
    <label 
      for="article" 
      class="control-label col-xs-2">
      Article: 
    </label>
    <div class="col-xs-10">
      <div *ngFor="let control of detailForm.value['article'].controls; let i=index">
        <input 
          type="checkbox" 
          id="checkbox-1" 
          value="value-1" 
          (ngModelChange)="setDirty()"
          [formControl]="control" />     
        {{articles[i]}}
      </div>
    </div>
  </div>

Detail exists: {{detailExists}}<br>
    <p>Form status: {{ detailForm.status | json }}</p>
    <p>Form dirty: {{ detailForm.dirty |json }}</p>

</form>

