<ul class="list-unstyled">
<li>Green: document exists and is unchanged</li>
<li>Orange: document exists and will be updated</li>
<li>Red: document does not exist and will be created</li>
</ul>

<!-- WORD 0 -->
<fieldset>
  <legend>Wordpair 0</legend>
  {{formHelpers[0].wordPairExists}}
  <form *ngIf="wordForms[0]"
    [formGroup]="wordForms[0]"
    class="form-horizontal"
      [ngClass]="{
        'exists': formHelpers[0].wordPairExists,
        'add': !formHelpers[0].wordPairExists,
        'update': formHelpers[0].wordPairExists && wordForms[0]?.dirty
      }">
    <!-- LAN PAIR /  WORD TYPE -->

    <div class="row">
      <div class="col-xs-12">
        <div class="panel panel-default">
          <div class="panel-body">
            <div class="form-group">
              <label 
                for="lanpair1" class="control-label col-xs-2">Lanpair:
              </label>
              <div class="col-xs-10">
                <select 
                  #lan1
                  class="form-control" 
                  id="lan1"
                  [(ngModel)]="detailFilterData[0].lan1"
                  (ngModelChange)="onWordChanged(0, '1')"
                  formControlName="lan1">
                  <option *ngFor="let lan of languages" [value]="lan.code">
                    {{lan.name}}
                  </option>
                </select>
                <select 
                  #lan2
                  class="form-control" 
                  id="lan2"
                  [(ngModel)]="detailFilterData[0].lan2"
                  (ngModelChange)="onWordChanged(0, '2')"
                  formControlName="lan2">
                  <option *ngFor="let lan of languages" [value]="lan.code">
                    {{lan.name}}
                  </option>
                </select>
              </div>
            </div>


            <div class="form-group">
              <label 
                for="tpe" 
                class="control-label col-xs-2">
                Word Type:
              </label>
              <div class="col-xs-10">
                <select 
                  #wordTpe
                  class="form-control" 
                  id="tpe"
                  [(ngModel)]="detailFilterData[0].tpe"
                  (ngModelChange)="onWordChanged(0, '1');onWordChanged(0, '2')"
                  formControlName="wordTpe">
                  <option *ngFor="let t of wordTpes" [value]="t.val">
                    {{t.label}}
                  </option>
                </select>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  <!-- LANGUAGE 1 -->
  
    <div class="row" *ngIf="wordTpe.value">
      <div class="col-xs-6">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3>{{getLanguageName(lan1.value)}}</h3>
          </div>
          <div class="panel-body">
            <div class="form-group">
              <label 
                for="word1.word" 
                class="control-label col-xs-2">
                Woord:
              </label>
              <div class="col-xs-10">
                <strong>
                  <input 
                    type="text"
                    class="form-control"
                    id="word1.word"
                    [(ngModel)]="detailFilterData[0].word1"
                    (ngModelChange)="onWordChanged(0, '1')"
                    formControlName="word1">
                </strong>
              </div>
            </div>
            <div class="form-group">
              <label 
                for="word1.alt" 
                class="control-label col-xs-2">
                Alt:
              </label>
              <div class="col-xs-10">
                <strong>
                  <km-alt-field
                    id="word1.alt"
                    (updatedWords)="onAltWordsUpdated($event, 0, '1')"
                    [wordTpe]="wordForms[0].value.wordTpe"
                    [lanCode]="wordForms[0].value.lan1"
                    [words]="wordForms[0].value.alt1">
                  </km-alt-field>
                </strong>
              </div>
            </div>
            <div class="form-group">
              <label 
                for="word1.hint" 
                class="control-label col-xs-2">
                Hint:
              </label>
              <div class="col-xs-10">
                <strong>
                  <input 
                    type="text"
                    class="form-control"
                    id="word1.hint"
                    formControlName="hint1">
                </strong>
              </div>
            </div>
            <div class="form-group">
              <label 
                for="word1.info" 
                class="control-label col-xs-2">
                Info:
              </label>
              <div class="col-xs-10">
                <strong>
                  <input 
                    type="text"
                    class="form-control"
                    id="word1.info"
                    formControlName="info1">
                </strong>
              </div>
            </div>
          </div>
        </div>
      </div>

  <!-- LANGUAGE 2 -->

      <div class="col-xs-6">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3>{{getLanguageName(lan2.value)}}</h3>
          </div>
          <div class="panel-body">
            <div class="form-group">
              <label 
                for="word2.word" 
                class="control-label col-xs-2">
                Woord:
              </label>
              <div class="col-xs-10">
                <strong>
                  <input 
                    type="text"
                    class="form-control"
                    id="word2.word"
                    [(ngModel)]="detailFilterData[0].word2"
                    (ngModelChange)="onWordChanged(0, '2')"
                    formControlName="word2">
                </strong>
              </div>
            </div>
            <div class="form-group">
              <label 
                for="word2.alt" 
                class="control-label col-xs-2">
                Alt:
              </label>
              <div class="col-xs-10">
                <strong>
                  <km-alt-field
                    id="word2.alt"
                    (updatedWords)="onAltWordsUpdated($event, 0, '2')"
                    [wordTpe]="wordForms[0].value.wordTpe"
                    [lanCode]="wordForms[0].value.lan2"
                    [words]="wordForms[0].value.alt2">
                  </km-alt-field>
                </strong>
              </div>
            </div>
            <div class="form-group">
              <label 
                for="word2.hint" 
                class="control-label col-xs-2">
                Hint:
              </label>
              <div class="col-xs-10">
                <strong>
                  <input 
                    type="text"
                    class="form-control"
                    id="word2.hint"
                    formControlName="hint2">
                </strong>
              </div>
            </div>
            <div class="form-group">
              <label 
                for="word2.info" 
                class="control-label col-xs-2">
                Info:
              </label>
              <div class="col-xs-10">
                <strong>
                  <input 
                    type="text"
                    class="form-control"
                    id="word2.info"
                    formControlName="info2">
                </strong>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <pre>Form value: {{ wordForms[0].value | json }}</pre>
    <p>Form status: {{ wordForms[0].status | json }}</p>
    <p>Form dirty: {{ wordForms[0].dirty |json }}</p>

    <button *ngIf="isNew[0]"
      (click)="onSubmit(wordForms[0].value, 0)"
      class="btn btn-success" 
      [disabled]="!wordForms[0].valid || isSubmitted[0]">
      Voeg wordpair toe (first check if it already exists)
    </button>

    <div class="error">{{formHelpers[0].msg}}</div>
  </form>

  <!-- WORD DETAILS -->

  <div class="row">
    <div class="col-xs-6">
      <div class="panel panel-default">
        <div class="panel-body form">
          <h4>Word Details {{getLanguageName(wordForms[0].value.lan1)}}
            <span 
              class="fa fa-chevron-circle-right" (click)="onToggleDisplay(0, 1, true)"
              [ngStyle]="{display:formHelpers[0].detail1.showDetail ? 'none' : 'inline'}">  
            </span>
            <span 
              class="fa fa-chevron-circle-down" (click)="onToggleDisplay(0, 1, false)"
              [ngStyle]="{display:formHelpers[0].detail1.showDetail ? 'inline' : 'none'}">    
            </span>
          </h4>
          <div [ngStyle]="{display:formHelpers[0].detail1.showDetail ? 'block' : 'none'}">
            <div [ngSwitch]="wordForms[0].value.lan1">
              <km-detail-form-nl *ngSwitchCase="'nl-nl'" #df1
                [wordTpe]="detailFilterData[0].tpe"
                [lan]="detailFilterData[0].lan1"
                [word]="detailFilterData[0].word1"
                [detail]="detail1"
              >
              </km-detail-form-nl>
              <km-detail-form-fr *ngSwitchCase="'fr-fr'" #df1
                [wordTpe]="detailFilterData[0].tpe"
                [lan]="detailFilterData[0].lan1"
                [word]="detailFilterData[0].word1"
                [detail]="detail1"
              >
              </km-detail-form-fr>
              <km-detail-form-de *ngSwitchCase="'de-de'" #df1
                [wordTpe]="detailFilterData[0].tpe"
                [lan]="detailFilterData[0].lan1"
                [word]="detailFilterData[0].word1"
                [detail]="detail1"
              >
              </km-detail-form-de>
              <km-detail-form-en *ngSwitchCase="'en-gb'" #df1
                [wordTpe]="detailFilterData[0].tpe"
                [lan]="detailFilterData[0].lan1"
                [word]="detailFilterData[0].word1"
                [detail]="detail1"
              >
              </km-detail-form-en>
              <km-detail-form-en *ngSwitchCase="'en-us'" #df1
                [wordTpe]="detailFilterData[0].tpe"
                [lan]="detailFilterData[0].lan1"
                [word]="detailFilterData[0].word1"
                [detail]="detail1"
              >
              </km-detail-form-en>
              <km-detail-form-cs *ngSwitchCase="'cs-cz'" #df1
                [wordTpe]="detailFilterData[0].tpe"
                [lan]="detailFilterData[0].lan1"
                [word]="detailFilterData[0].word1"
                [detail]="detail1"
              >
              </km-detail-form-cs>
              <div *ngSwitchDefault>
                No language selected
              </div>
            </div>
            <!--
            <input 
              type="text"
              class="form-control"
              id="detail1.article"
              formControlName="article">
            -->
          </div>
        </div>
      </div>
    </div>

    <div class="col-xs-6">
      <div class="panel panel-default">
        <div class="panel-body form">
          <h4>Word Details {{getLanguageName(wordForms[0].value.lan2)}}
            <span 
              class="fa fa-chevron-circle-right" (click)="onToggleDisplay(0, 2, true)"
              [ngStyle]="{display:formHelpers[0].detail2.showDetail ? 'none' : 'inline'}">  
            </span>
            <span 
              class="fa fa-chevron-circle-down" (click)="onToggleDisplay(0, 2, false)"
              [ngStyle]="{display:formHelpers[0].detail2.showDetail ? 'inline' : 'none'}">    
            </span>
          </h4>
          <div [ngStyle]="{display:formHelpers[0].detail2.showDetail ? 'block' : 'none'}">
            <div [ngSwitch]="wordForms[0].value.lan2">
              <km-detail-form-nl *ngSwitchCase="'nl-nl'" #df2
                [wordTpe]="detailFilterData[0].tpe"
                [lan]="detailFilterData[0].lan2"
                [word]="detailFilterData[0].word2"
                [detail]="detail2"
              >
              </km-detail-form-nl>
              <km-detail-form-fr *ngSwitchCase="'fr-fr'" #df2
                [wordTpe]="detailFilterData[0].tpe"
                [lan]="detailFilterData[0].lan2"
                [word]="detailFilterData[0].word2"
                [detail]="detail2"
              >
              </km-detail-form-fr>
              <km-detail-form-de *ngSwitchCase="'de-de'" #df2
                [wordTpe]="detailFilterData[0].tpe"
                [lan]="detailFilterData[0].lan2"
                [word]="detailFilterData[0].word2"
                [detail]="detail2"
              >
              </km-detail-form-de>
              <km-detail-form-en *ngSwitchCase="'en-gb'" #df2
                [wordTpe]="detailFilterData[0].tpe"
                [lan]="detailFilterData[0].lan2"
                [word]="detailFilterData[0].word2"
                [detail]="detail2"
              >
              </km-detail-form-en>
              <km-detail-form-en *ngSwitchCase="'en-us'" #df2
                [wordTpe]="detailFilterData[0].tpe"
                [lan]="detailFilterData[0].lan2"
                [word]="detailFilterData[0].word2"
                [detail]="detail2"
              >
              </km-detail-form-en>
              <km-detail-form-cs *ngSwitchCase="'cs-cz'" #df2
                [wordTpe]="detailFilterData[0].tpe"
                [lan]="detailFilterData[0].lan2"
                [word]="detailFilterData[0].word2"
                [detail]="detail2"
              >
              </km-detail-form-cs>
              <div *ngSwitchDefault>
                No language selected
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</fieldset>
<pre>
  Formhelper: {{formHelpers|json}}
  wordpairs: {{wordpairs|json}}
</pre>