form, .form {
  border-radius: 6px;
}
.exists {
  border: 3px solid #5cb85c;
}
.update{
  border: 3px solid orange;      
}
.add {
  border: 3px solid red;
}
.error {
  color: red;
  font-weight: bold;
}
.success {
  color: green;
  font-weight: bold;
}
h4 > .fa {
  font-size: 26px;
}
.legend li {
  border-radius: 3px;
  display: inline;
  padding: 2px;
}