Add {{tpe}} file:
<input 
  id="fileupload"
  name="myfile"
  type="file" 
  multiple="true" 
  (change)="onChange(file)" 
  #file />

Files:
<div *ngIf="tpe">
  <km-filter-files 
    [tpe]="tpe" 
    (selectedFilter)="onSelectedFilter($event)">
  </km-filter-files>

  <div class="text-muted">
    Aantal files: <strong>{{totalFiles}}</strong>
  </div>

  <ul class="list-group files" [class.audio]="tpe==='audio'">
    <li *ngFor="let file of files; let i = index" class="list-group-item">
      <div class="data">
        <div><strong>{{file.name}}</strong></div>
        <div class="size">{{file.size | fileSize}}</div>
      </div>
      <img src="{{localFilePath + file.localFile}}" class="thumb" *ngIf="tpe==='images'">
      <div *ngIf="tpe==='audio'" (click)="onPlay(file.localFile, i)">
        <span class="fa fa-play-circle" [ngClass]="{
          'fa-play-circle': !audio[i] || audio[i].ended ? true : false,
          'fa-pause-circle': audio[i] && !audio[i].ended ? true : false
          }"></span>
      </div>
    </li>
  </ul>
</div>