DETAIL NL

<form *ngIf="detailForm"
      [formGroup]="detailForm"
      class="form-horizontal"
      [ngClass]="{
        exists:detailExists,
        add:!detailExists,
        update: detailExists && detailForm?.dirty
      }">

  <km-detail-fields-basic [detail]="detail" *ngIf="isRead()">
  </km-detail-fields-basic>

<!-- NEW DETAIL ONLY -->

  <div *ngIf="!isRead()">
    <div class="form-group">
      <label 
        for="word" 
        class="control-label col-xs-3">
        Word:
      </label>
      <div class="col-xs-9">
        <input 
          class="form-control" 
          id="word"
          formControlName="word">
      </div>
    </div>
  </div>

<!-- ALL WORD TYPES -->
  <div class="form-group">
    <label 
      for="tpe" 
      class="control-label col-xs-3">
      Type:
    </label>
    <div class="col-xs-9">
      <select 
        class="form-control" 
        id="tpe"
        (change)="rebuildControls()"
        formControlName="wordTpe">
        <option *ngFor="let t of wordTpes" [value]="t.val">
          {{t.label}}
        </option>
      </select>
    </div>
  </div>

  <div *ngIf="hasWordTpe()">
  <!-- DYNAMIC FIELDS -->

  <!-- noun -->
    <div *ngIf="isNoun()">
      <div class="form-group">
        <label 
          for="article" 
          class="control-label col-xs-3">
          Article:
        </label>
        <div class="col-xs-9">
          <div *ngFor="let article of articles">
            <input type="radio" 
              formControlName="article" 
              name="article" 
              [value]="article">{{article}}
          </div>
        </div>
      </div>

      <div class="form-group">
        <label 
          for="diminutive" 
          class="control-label col-xs-3">
          Diminutive:
        </label>
        <div class="col-xs-9">
          <input 
            type="text"
            formControlName="diminutive" 
            name="diminutive">
        </div>
      </div>

      <div class="form-group">
        <label 
          for="plural" 
          class="control-label col-xs-3">
          Plural:
        </label>
        <div class="col-xs-9">
          <input 
            type="text"
            formControlName="plural" 
            name="plural">
        </div>
      </div>

      <div class="checkbox col-xs-offset-3">
        <label>
          <input 
          type="checkbox" 
          name="isDiminutive"
          formControlName="isDiminutive">
          is Diminutive
        </label>
      </div>

      <div class="checkbox col-xs-offset-3">
        <label>
          <input 
          type="checkbox" 
          name="isPlural"
          formControlName="isPlural">
          is Plural
        </label>
      </div>
    </div>

  <!-- adjective -->
    <div *ngIf="isAdjective()">
      <div class="form-group">
        <label 
          for="comparative" 
          class="control-label col-xs-3">
          Comparative:
        </label>
        <div class="col-xs-9">
          <input 
            type="text"
            formControlName="comparative" 
            name="comparative">
        </div>
      </div>

      <div class="form-group">
        <label 
          for="superlative" 
          class="control-label col-xs-3">
          Superlative:
        </label>
        <div class="col-xs-9">
          <input 
            type="text"
            formControlName="superlative" 
            name="superlative">
        </div>
      </div>
      
      <div class="checkbox col-xs-offset-3">
        <label>
          <input 
          type="checkbox" 
          name="isComparative"
          formControlName="isComparative">
          is Comparative
        </label>
      </div>

      <div class="checkbox col-xs-offset-3">
        <label>
          <input 
          type="checkbox" 
          name="isSuperlative"
          formControlName="isSuperlative">
          is Superlative
        </label>
      </div>
    </div>

  <!-- verb -->
    <div *ngIf="isVerb()">

      <div class="form-group">
        <label 
          for="conjugation1" 
          class="control-label col-xs-3">
          Conj.:
        </label>
        <div class="col-xs-9">
          <div *ngFor="let pronoun of config.subjectPronouns; let i = index">
            <div class="col-xs-3">
            {{pronoun}}
            </div>
            <div class="col-xs-9">
              <input 
              type="text"
              [formControlName]="'conjugation' + i" 
              [name]="'conjugation' + i">
            </div>
          </div>
        </div>
      </div>
    </div>

  <!-- FILES -->

  <!-- images -->
    <label 
      for="images" 
      class="control-label col-xs-3">
      Images:
    </label>
    <div class="col-xs-9">
      <km-image-list
        [images]="detail.images"
        (removeImage)=onRemoveImage($event)>
      </km-image-list>
      <div (click)="toggleImageFilter()" class="filtertoggle">
        <span 
          class="fa fa-chevron-circle-right"
          [ngStyle]="{display:showDetailImageFilter ? 'none' : 'inline'}">  
        </span>
        <span 
          class="fa fa-chevron-circle-down"
          [ngStyle]="{display:!showDetailImageFilter ? 'none' : 'inline'}">  
        </span>
        Add images
      </div>
      <km-image-filter
        [ngStyle]="{display: showDetailImageFilter ? 'block': 'none'}"
        [word]="detail.word"
        (selectedImage)="onSelectedImage($event);">
      </km-image-filter>
    </div>

  <!-- audio -->
    <label 
      for="audio" 
      class="control-label col-xs-3">
      Audio:
    </label>
    <div class="col-xs-9">
      <km-audio-list
        [audios]="detail.audios"
        (removeAudio)=onRemoveAudio($event)>
      </km-audio-list>
      <div (click)="toggleAudioFilter()" class="filtertoggle">
        <span 
          class="fa fa-chevron-circle-right"
          [ngStyle]="{display:showDetailAudioFilter ? 'none' : 'inline'}">  
        </span>
        <span 
          class="fa fa-chevron-circle-down"
          [ngStyle]="{display:!showDetailAudioFilter ? 'none' : 'inline'}">  
        </span>
        Add audio
      </div>
      <km-audio-filter
        [ngStyle]="{display: showDetailAudioFilter ? 'block': 'none'}"
        [lan]="detail.lan"
        [word]="detail.word"
        (selectedAudio)="onSelectedAudio($event);">
      </km-audio-filter>
    </div>

  <!-- INFO FIELDS -->

    <km-detail-fields-info [detail]="detail" *ngIf="detailExists">
    </km-detail-fields-info>

  <!-- BUTTONS -->

    <div 
      class="btn btn-success" 
      *ngIf="detailOnly && detailExists && detailForm?.dirty" 
      (click)="updateDetail(detailForm.value)">
      Update
    </div>

    <div 
      class="btn btn-success" 
      *ngIf="detailOnly && !detailExists" 
      (click)="addDetail(detailForm.value)">
      Add
    </div>
  </div>

  <div>
    Form status: {{ detailForm.status | json }}<br>
  </div>

</form>

<div 
  class="btn btn-warning" 
  *ngIf="detailOnly && detailExists" 
  (click)="newDetail()">
  New Detail
</div>