DETAIL CS

<form *ngIf="detailForm"
      [formGroup]="detailForm"
      class="form-horizontal"
      [ngClass]="{
        exists:detailExists,
        add:!detailExists,
        update: detailExists && detailForm?.dirty
      }">
      
  <km-detail-fields-basic [detail]="detail" *ngIf="isRead()">
  </km-detail-fields-basic>

<!-- NEW DETAIL ONLY -->

  <div *ngIf="!isRead()">
    <div class="form-group">
      <label 
        for="tpe" 
        class="control-label col-xs-3">
        Word Type:
      </label>
      <div class="col-xs-9">
        <select 
          class="form-control" 
          id="tpe"
          formControlName="wordTpe">
          <option *ngFor="let t of wordTpes" [value]="t.val">
            {{t.label}}
          </option>
        </select>
      </div>
    </div>

    <div class="form-group">
      <label 
        for="word" 
        class="control-label col-xs-3">
        Word:
      </label>
      <div class="col-xs-9">
        <input 
          class="form-control" 
          id="word"
          formControlName="word">
      </div>
    </div>
  </div>

<!-- DYNAMIC FIELDS -->

<!-- noun -->
  <div *ngIf="isNoun()">
    <div class="form-group">
      <label 
        for="genus" 
        class="control-label col-xs-3">
        Genus:
      </label>
      <div class="col-xs-9">
        <div *ngFor="let genus of genera">
          <input type="radio" 
            formControlName="genus" 
            name="genus" 
            [value]="genus">{{genus}}
        </div>
      </div>
    </div>

    <div class="form-group">
      <label 
        for="diminutive" 
        class="control-label col-xs-3">
        Diminutive:
      </label>
      <div class="col-xs-9">
        <input 
          type="text"
          formControlName="diminutive" 
          name="diminutive">
      </div>
    </div>

    <div class="form-group">
      <label 
        for="plural" 
        class="control-label col-xs-3">
        Plural:
      </label>
      <div class="col-xs-9">
        <input 
          type="text"
          formControlName="plural" 
          name="plural">
      </div>
    </div>

    <div class="form-group">
      <label 
        for="case" 
        class="control-label col-xs-3">
        Case:
      </label>
      <div class="col-xs-9">
        <select 
          class="form-control" 
          id="case"
          formControlName="case">
          <option *ngFor="let case of cases" [value]="case.value">
            {{case.code}}
          </option>
        </select>
      </div>
    </div>

    <div class="checkbox col-xs-offset-3">
      <label>
        <input 
        type="checkbox" 
        name="isDiminutive"
        formControlName="isDiminutive">
        is Diminutive
      </label>
    </div>

    <div class="checkbox col-xs-offset-3">
      <label>
        <input 
        type="checkbox" 
        name="isPlural"
        formControlName="isPlural">
        is Plural
      </label>
    </div>
  </div>

<!-- pronoun -->
  <div *ngIf="isPronoun()">
    <div class="form-group">
      <label 
        for="case" 
        class="control-label col-xs-3">
        Case:
      </label>
      <div class="col-xs-9">
        <select 
          class="form-control" 
          id="case"
          formControlName="case">
          <option *ngFor="let case of cases" [value]="case.value">
            {{case.code}}
          </option>
        </select>
      </div>
    </div>
  </div>

<!-- preposition -->
  <div *ngIf="isPreposition()">
    <div class="form-group">
      <label 
        for="fcase" 
        class="control-label col-xs-3">
        +Case:
      </label>
      <div class="col-xs-9">
        <select 
          class="form-control" 
          id="fcase"
          formControlName="followingCase">
          <option *ngFor="let case of cases" [value]="case.value">
            {{case.code}}
          </option>
        </select>
      </div>
    </div>
  </div>

<!-- adjective -->
  <div *ngIf="isAdjective()">
    <div class="form-group">
      <label 
        for="comparative" 
        class="control-label col-xs-3">
        Comparative:
      </label>
      <div class="col-xs-9">
        <input 
          type="text"
          formControlName="comparative" 
          name="comparative">
      </div>
    </div>

    <div class="form-group">
      <label 
        for="superlative" 
        class="control-label col-xs-3">
        Superlative:
      </label>
      <div class="col-xs-9">
        <input 
          type="text"
          formControlName="superlative" 
          name="superlative">
      </div>
    </div>

    <div class="checkbox col-xs-offset-3">
      <label>
        <input 
        type="checkbox" 
        name="isComparative"
        formControlName="isComparative">
        is Comparative
      </label>
    </div>

    <div class="checkbox col-xs-offset-3">
      <label>
        <input 
        type="checkbox" 
        name="isSuperlative"
        formControlName="isSuperlative">
        is Superlative
      </label>
    </div>
  </div>

<!-- verb -->
  <div *ngIf="isVerb()">
    <div class="form-group">
      <label 
        for="aspect" 
        class="control-label col-xs-3">
        Aspect:
      </label>
      <div class="col-xs-9">
        <div *ngFor="let aspect of aspects">
          <input type="radio" 
            formControlName="aspect" 
            name="aspect" 
            [value]="aspect">{{aspect}}
        </div>
      </div>
    </div>

    <div class="form-group">
      <label 
        for="aspectpair" 
        class="control-label col-xs-3">
        Aspect pair:
      </label>
      <div class="col-xs-9">
        <input 
          type="text"
          formControlName="aspectPair" 
          name="aspectpair">
      </div>
    </div>

    <div class="form-group">
      <label 
        for="fcase" 
        class="control-label col-xs-3">
        +Case:
      </label>
      <div class="col-xs-9">
        <select 
          class="form-control" 
          id="fcase"
          formControlName="followingCase">
          <option *ngFor="let case of cases" [value]="case.value">
            {{case.code}}
          </option>
        </select>
      </div>
    </div>

    <div class="form-group">
      <label 
        for="conjugation1" 
        class="control-label col-xs-3">
        Conj.:
      </label>
      <div class="col-xs-9">
        <div *ngFor="let pronoun of config.subjectPronouns; let i = index">
          <div class="col-xs-3">
          {{pronoun}}
          </div>
          <div class="col-xs-9">
            <input 
            type="text"
            [formControlName]="'conjugation' + i" 
            [name]="'conjugation' + i">
          </div>
        </div>
      </div>
    </div>
  </div>

<!-- INFO FIELDS -->

  <km-detail-fields-info [detail]="detail" *ngIf="detailExists">
  </km-detail-fields-info>

<!-- BUTTONS -->

  <div 
    class="btn btn-success" 
    *ngIf="detailOnly && detailExists && detailForm?.dirty" 
    (click)="updateDetail(detailForm.value)">
    Update
  </div>

  <div 
    class="btn btn-success" 
    *ngIf="detailOnly && !detailExists" 
    (click)="addDetail(detailForm.value)">
    Add
  </div>


  <div>
    Detail Only: {{detailOnly}}<br>
    Detail exists: {{detailExists}}<br>
    Form status: {{ detailForm.status | json }}<br>
    Form dirty: {{ detailForm.dirty |json }}
  </div>

</form>

  <div 
    class="btn btn-warning" 
    *ngIf="detailOnly && detailExists" 
    (click)="newDetail()">
    New Detail
  </div>

<pre>{{detail|json}}</pre>