DETAIL EN

<form *ngIf="detailForm"
      [formGroup]="detailForm"
      class="form-horizontal"
      [ngClass]="{
        exists:detailExists,
        add:!detailExists,
        update: detailExists && detailForm?.dirty
      }">

  <km-detail-fields-basic [detail]="detail" *ngIf="isRead()">
  </km-detail-fields-basic>

<!-- NEW DETAIL ONLY -->

  <div *ngIf="!isRead()">
    <div class="form-group">
      <label 
        for="tpe" 
        class="control-label col-xs-2">
        Word Type:
      </label>
      <div class="col-xs-10">
        <select 
          class="form-control" 
          id="tpe"
          (change)="rebuildControls()"
          formControlName="wordTpe">
          <option *ngFor="let t of wordTpes" [value]="t.val">
            {{t.label}}
          </option>
        </select>
      </div>
    </div>

    <div class="form-group">
      <label 
        for="word" 
        class="control-label col-xs-2">
        Word:
      </label>
      <div class="col-xs-10">
        <input 
          class="form-control" 
          id="word"
          formControlName="word">
      </div>
    </div>
  </div>

  <div *ngIf="hasWordTpe()">
  <!-- DYNAMIC FIELDS -->
    <div class="form-group">
      <label 
        for="region" 
        class="control-label col-xs-3">
        Region:
      </label>
      <div class="col-xs-9">
        <div *ngFor="let region of regions">
          <input type="radio" 
            formControlName="region" 
            name="region" 
            [value]="region"><img src="/assets/img/flags/{{detail.lan}}-{{region}}.png" class="flag" *ngIf="region !== 'any'">{{region}}
        </div>
      </div>
    </div>
  <!-- noun -->
    <div *ngIf="isNoun()">
      <div class="form-group">
        <label 
          for="plural" 
          class="control-label col-xs-3">
          Plural:
        </label>
        <div class="col-xs-9">
          <input 
            type="text"
            formControlName="plural" 
            name="plural">
        </div>
      </div>

      <div class="checkbox col-xs-offset-3">
        <label>
          <input 
          type="checkbox" 
          name="isPlural"
          formControlName="isPlural">
          is Plural
        </label>
      </div>
    </div>

  <!-- verb -->
    <div *ngIf="isVerb()">

      <div class="form-group">
        <label 
          for="conjugation1" 
          class="control-label col-xs-3">
          Conj.:
        </label>
        <div class="col-xs-9">
          <div *ngFor="let pronoun of config.subjectPronouns; let i = index">
            <div class="col-xs-3">
            {{pronoun}}
            </div>
            <div class="col-xs-9">
              <input 
              type="text"
              [formControlName]="'conjugation' + i" 
              [name]="'conjugation' + i">
            </div>
          </div>
        </div>
      </div>
    </div>

  <!-- FILES -->

    <label 
      for="images" 
      class="control-label col-xs-3">
      Images:
    </label>
    <div class="col-xs-9">
      <km-image-list
        [images]="detail.images"
        (removeImage)=onRemoveImage($event)>
      </km-image-list>
      <div (click)="toggleImageFilter()" class="filtertoggle">
        <span 
          class="fa fa-chevron-circle-right"
          [ngStyle]="{display:showDetailFilter ? 'none' : 'inline'}">  
        </span>
        <span 
          class="fa fa-chevron-circle-down"
          [ngStyle]="{display:!showDetailFilter ? 'none' : 'inline'}">  
        </span>
        Add images
      </div>
      <km-image-filter
        [ngStyle]="{display: showDetailFilter ? 'block': 'none'}"
        (selectedImage)="onSelectedImage($event);">
      </km-image-filter>
    </div>

  <!-- INFO FIELDS -->

    <km-detail-fields-info [detail]="detail" *ngIf="detailExists">
    </km-detail-fields-info>

  <!-- BUTTONS -->

    <div 
      class="btn btn-success" 
      *ngIf="detailOnly && detailExists && detailForm?.dirty" 
      (click)="updateDetail(detailForm.value)">
      Update
    </div>

    <div 
      class="btn btn-success" 
      *ngIf="detailOnly && !detailExists" 
      (click)="addDetail(detailForm.value)">
      Add
    </div>
  </div>

  <div>
    Detail Only: {{detailOnly}}<br>
    Detail exists: {{detailExists}}<br>
    Form status: {{ detailForm.status | json }}<br>
    Form dirty: {{ detailForm.dirty |json }}
  </div>

</form>

  <div 
    class="btn btn-warning" 
    *ngIf="detailOnly && detailExists" 
    (click)="newDetail()">
    New Detail
  </div>

<pre>{{detail|json}}</pre>