<div *ngIf="detail" class="read">
  <div class="form-group read">
    <label 
      for="lan" 
      class="control-label col-xs-2">
      Lang:
    </label>
    <div class="col-xs-10">
      {{detail.lan}}
    </div>
  </div>

  <div class="form-group">
    <label 
      for="tpe" 
      class="control-label col-xs-2">
      Word Type:
    </label>
    <div class="col-xs-10">
      {{detail.wordTpe}}
    </div>
  </div>

  <div class="form-group">
    <label 
      for="word" 
      class="control-label col-xs-2">
      Word:
    </label>
    <div class="col-xs-10">
      {{detail.word}}
    </div>
  </div>
</div>